DATABASE_URL=postgresql://postgres:Gainup@hrms@db.vuasdaabmohmkmzachbh.supabase.co:5432/postgres
SECRET_KEY=AhfkqRFJjO/iAMXKfRdmuGkI+i0yEwEXDD6ww2x/EEA=
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
ADMIN_EMAIL=admin@company.com
